.comp__search__item {
    padding: 30px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.comp__search__item:hover {
    background-color: var(--bg-color-nav);
}

.comp__search__item__name {
    font-weight: bold;
    font-family: var(--second-font);
    font-size: var(--2-font-size);

    transition: color 0.3s ease-in-out;
}
.comp__search__item:hover .comp__search__item__name {
    color: var(--2-color);
}

.comp__search__item__desc {
    font-family: var(--third-font);
    font-size: var(--2-font-size);
}