.natural-card__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.natural__item {
    width: 25rem;
}
.natural__item__comparison {
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}