.wrapper {
    width: 100%;
    min-width: 1000px;
}
.input__name  {
    font-weight: 900;
    font-size: 2.5rem;

    margin-bottom: 40px;
    text-align: center;
    letter-spacing: 6px;
}

.wrapper__input {
    height: 550px;
    width: 100%;
    background-color: var(--bg-color-nav);
    /*font-size: var(--font-size);*/

    margin-bottom: 40px;
    display: flex;
}

.input__field {
    padding: 25px 0 25px 60px;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}

.wrapper__input2 {
    margin-left: 50px;
    padding: 25px 50px 25px 0;
}