.wrapper__instruction {
    font-family: var(--second-font);
    font-size: var(--2-font-size);
    color: var(--2-color);
    line-height: 25px;
    padding: 0 20px;
}

.name__instruction {
    padding-bottom: 30px;
}
.list__instruction__name {
    padding-bottom: 10px;
}
.list__instruction__item {
    padding-bottom: 20px;
}

mark {
    color: var(--2-color);
    background-color: var(--3-color);
}