.modal {
    height: 100%;
    width: 100%;
    background-color: var(--bg-color-nav);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
}

.modal.active {

}

.modal__content {
    padding: 20px;
    border-radius: 12px;
    background-color: var(--2-color);
}