.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: var(--header-height);
    margin: 1rem;
}

.nav__logo {
    color: var(--3-color);
    font-weight: bold;
    transition: color 0.4s;
    font-size: var(--2-font-size);
    font-family: var(--second-font);
}

.nav__toggle,
.nav__close {
    font-size: 1.5rem;
    color: var(--1-color);
    cursor: pointer;
}

.nav__cta {
    padding: 17px;
    height: 60px;
    width: fit-content;
    text-align: center;

    font-weight: 800;
    color: var(--3-color);
    white-space: nowrap;

    border: var(--3-color) solid 2px;
    cursor: pointer;
    transition: border 0.3s ease-in-out 0s, color 0.3s ease-in-out 0s;
}

@media screen and (max-width: 1150px) {
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: var(--bg-color-nav);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        width: 60%;
        height: 100%;
        padding: 6rem 3rem 0;
        transition: right 0.4s;
    }
}
@media screen and (max-width: 300px) {
    /*.nav {*/
    /*    justify-content: space-between;*/
    /*}*/
    .nav__menu {
        padding: 4rem 1rem 2rem;
    }

    .nav__list {
        row-gap: 1rem;
    }

    .nav__link,
    .nav__cta {
        font-size: var(--1-font-size);
    }

    .nav__cta {
        padding: 8px 16px;
        font-size: 12px;
        margin-top: 1rem;
        width: auto;
        white-space: nowrap;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.nav__link {
    color: var(--3-color);
    font-weight: bold;
    position: relative;
    transition: underline 0.4s;
}
.nav__link::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    display: block;
    /*width: 100%;*/
    height: 2px;
    background: var(--3-color);
    width: 0;
    transition: 0.5s;
}
.nav__link:hover::after {
    width: 100%;
}

.nav__btn { transition: border 0.3s ease-in-out 0s, color 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s; }
.nav__btn:hover {
    border-color: var(--3-color);
    color: var(--2-color);
    background-color: var(--3-color);
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

.show-menu {
    right: 0;
}
.nav__listt {
    display: flex;
    flex-direction: row;
    column-gap: 2.5rem;
}

.nav__menu_mobile {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: var(--bg-color-nav);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 80%;
    height: 100%;
    padding: 6rem 3rem 0;
    transition: right 0.4s;
}
@media screen and (min-width: 1150px) {
    .header {
        transition: background-color ease-in-out 0.6s;
        -webkit-transition: ease-in-out 0.6s;
    }

    .header.active {
        background-color: var(--bg-color-nav);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
    }

    .nav {
        height: calc(var(--header-height) + 1rem);
        /*background-color: hsla(0, 0%, 6%, 0.2);*/
    }
    .nav__toggle,
    .nav__close {
        display: none;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 2.5rem;
    }

}


/*.header {*/
/*    position: fixed;*/
/*    width: 100%;*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index: var(--z-fixed);*/
/*}*/

/*.nav {*/
/*    position: relative;*/
/*    height: 3.5rem;*/
/*    margin: 1rem;*/

/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*}*/

/*.nav__logo {*/
/*    font-family: var(--second-font);*/
/*    font-size: var(--2-font-size);*/
/*    color: var(--3-color);*/
/*}*/