@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*@media screen and (max-width: 480px) {*/
/*}*/

/*@media screen and (max-width: 768px) {*/
/*}*/

/*@media screen and (min-width: 1000px) {*/
/*}*/

/*@media screen and (min-width: 1200px) {*/
/*}*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --header-height: 3.5rem;

  --1-color: black;
  --2-color: #fffdfe;
  --3-color: #470447;

  --bg-color-1: #fff4e7;
  --bg-color-2: #e9cfd9;
  --bg-color-3: #a098bf;
  --bg-color-nav: hsla(0, 0%, 6%, 0.2);

  --first-font: "Comfortaa", sans-serif;
  --second-font: "Raleway", sans-serif;
  --third-font: "Jost", sans-serif;

  --1-font-size: 16px;
  --2-font-size: 20px;
  --3-font-size: 24px;

  --z-fixed: 10000;
}

/*@media screen and (max-width: 480px) {*/
/*  :root {*/
/*    --1-font-size: 14px;*/
/*    --2-font-size: 18px;*/
/*    --3-font-size: 22px;*/
/*  }*/
/*}*/

/*@media screen and (max-width: 768px) {*/
/*  :root {*/
/*    --1-font-size: 16px;*/
/*    --2-font-size: 20px;*/
/*    --3-font-size: 24px;*/
/*  }*/
/*}*/

/*@media screen and (max-width: 992px) {*/
/*  :root {*/
/*    --1-font-size: 18px;*/
/*    --2-font-size: 22px;*/
/*    --3-font-size: 26px;*/
/*  }*/
/*}*/

/*@media screen and (max-width: 1200px) {*/
/*  :root {*/
/*    --1-font-size: 18px;*/
/*    --2-font-size: 22px;*/
/*    --3-font-size: 26px;*/
/*  }*/
/*}*/


body {
  height: 100%;
  background: linear-gradient(to bottom, var(--bg-color-1), var(--bg-color-2), var(--bg-color-3)) no-repeat fixed;
  background-size: cover;
  color: var(--3-color);
  font-family: var(--first-font);
  font-size: var(--1-font-size);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

textarea:focus, input:focus
{
  outline: none;
}

.input__btn {
  padding: 20px 20px;
  margin-bottom: 20px;
  height: 60px;
  width: fit-content;
  text-align: center;

  font-weight: bold;
  font-family: var(--first-font);
  font-size: var(--1-font-size);
  color: var(--3-color);
  white-space: nowrap;

  background-color: transparent;
  border: var(--3-color) solid 2px;
  cursor: pointer;
  transition: border 0.3s ease-in-out 0s, color 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s;
}
.input__btn:hover {
  border-color: var(--3-color);
  color: var(--2-color);
  background-color: var(--3-color);
}

label {
  margin-right: 10px;
}